{% extends 'base.html' %}

{% block extra_headers %}

<style>
    #releases a {
        color: white;
    }

    #releases hr {
        clear: both;
    }

    #releases .readmore {
        float: right;
        margin-bottom: 15px;
    }

    #releases img {
        float: left;
        margin-right: 15px;
        height: auto;
        width: 300px;
        margin-bottom: 15px;
    }
</style>

{% endblock %}

{% block content %}
<div id="releases">
<center><h1>Motor City Hot Rod &amp; Racing Expo</h1></center>

<h2><a href="/page.php?id=11">Expo 411</a></h2>

<p>
    What is the Motor City Hot Rod &amp; Racing Expo? The expo is a unique event designed to gather quality equipment manufacturers, service providers, racers, cruisers, and hot rod enthusiasts of all kinds under one roof. Vendor space is reserved exclusively for new product manufacturers and service providers – the Motor City Hot Rod and Racing Expo is not a swap meet or a car show. Unlike a typical "trade only" show, the expo is open to the public: any hot rod enthusiast is welcomed and encouraged to attend.
</p>

<div class="readmore"><a href="/page.php?id=11">Read More...</a></div>

<hr />

<h2><a href="/page.php?id=14">LaFontaine Performance Center</a></h2>

<img style="" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBoM0IbCTlRH4vl&w=377&h=197&url=http%3A%2F%2Fwww.lafontaineperformancecenter.com%2Fimages%2F750_2013-03-09_09-57-08_555.jpg&cfs=1" alt="">

<p>
    LaFontaine Performance Center will have a massive exhibit at the Motor City Hot Rod &amp; Racing Expo. 
</p>

<div class="readmore"><a href="/page.php?id=14">Read More...</a></div>

<hr />

<h2><a href="/page.php?id=13">Introducing the Inaugural Motor City Hot Rod &amp; Racing Expo: March 22-23, 2014</a></h2>

<p>
    Novi, MI: Well-known and respected drag racers and event promoters Dave Szerlag and Luke Bogacki are proud to announce a new motorsports related exposition show, the Motor City Hot Rod and Racing Expo. The inaugural event will take place March 22-23, 2014 at the Suburban Collection Showplace in Novi, MI, minutes from downtown Detroit.
</p>

<div class="readmore"><a href="/page.php?id=13">Read More...</a></div>

<hr />

<h2>Heading to the Expo?</h2>

<p>
    Heading to the Motor City for the Motor City Hot Rod &amp; Racing Expo??? Well get ready for the <a target="_blank" href="https://www.facebook.com/bwpromos">BW Promotions</a> and <a target="_blank" href="http://acceleratedgraphics.net/">PCD Wraps &amp; Graphics</a> Motor City Practice Tree Nationals! More details and official flyer coming soon! This will an event you want to attend!
</p>

<hr />

</div>
{% endblock %}