{% extends 'base.html' %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12 col-sm-4">{{ page.box['1']|raw }}</div>

    <div class="col-xs-12 col-sm-4">{{ page.box['2']|raw }}</div>
  <div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">{{ page.box['3']|raw }}</div>

    <div class="col-xs-12 col-sm-4">{{ page.box['4']|raw }}</div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">{{ page.box['5']|raw }}</div>

    <div class="col-xs-12 col-sm-4">{{ page.box['6']|raw }}</div>
  </div>


{% endblock %}