<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title></title>
</head>
<body>
<p>{% extends &#39;base.html&#39; %} {% block extra_headers %}</p>
</body>
<meta name="description" value="{{ page.description }}" />
<p>{% endblock %} {% block content %} {{ page.content|raw }} {% endblock %}</p>
</html>