<a href="http://motorcityraceexpo.com/">
	<center>
		<img src="http://motorcityraceexpo.com/images/motor_city_logo_white.jpg" alt="Motor City Race Expo Logo" /><br/>
		Come see us at our website
	</center>
</a>
<br/>
<br/>
<br/>
<br/>
<a href="http://motorcityraceexpo.com/">
	<center>
		<img src="http://motorcityraceexpo.com/images/motor_city_logo_black.jpg" alt="Motor City Race Expo Logo" /><br/>
		Come see us at our website
	</center>
</a>