{% extends 'base.html' %}

{% block title %}

Contact Us

{% endblock %}

{% block content %}

<form method="POST">

  {{ xmessage|raw }}

      <div class="row">


          <div class="col-xs-12 col-sm-5">          
            <p><strong>Address:<br />
            43963 Grand River Ave<br />
            Novi Mi 48375  </strong></p>
            <p><strong>            Phone:<br />
Mike Harris: (248) 974-7004  <br />
Dave Szerlag: (517) 376-0361</strong></p>
          </div>

          <div class="col-xs-12 col-sm-7">

            Please contact us for any questions or inquiries.

            <div style="margin-top:10px;"><strong>Name</strong>: <input type="text" name="name" value="{{ name }}" size="19" /></div>

            <div style="margin-top:5px;"><strong>Email</strong>: <input name="email" type="text" value="{{ email }}" size="35" maxlength="255" /></div>

            <div style="margin-top:5px;"><span style="font-weight: bold">Message</span>:<br />

            <textarea rows="10" name="message" cols="60">{{ message }}</textarea>

            </div>
            <input type="submit" value="Submit" name="submit" />
            <input type="reset" name="button2" id="button2" value="Reset" />
          </div>

      </div>

</form>

<div style="height:200px;">&nbsp;</div>

{% endblock %}