{% extends 'directory_base.html' %}

{% block extra_headers %}

<script>
	
function editLocation(id)
{
	window.location = "{{ URL_ROOT }}admin/location/" + id + "/";
}

function deleteLocation(id)
{
	if(confirm("Are you sure?"))
	{
		window.location = "{{ URL_ROOT }}admin/location/" + id + "/delete/";
	}
}

function addCategory()
{
	var catname = prompt("Category Name?");
	if(catname !== null && catname != "")
		window.location = "?addcat=" + catname;
}

function addSubCategory(cat)
{
	var subcatname = prompt("Category Name?");
	if(subcatname !== null && subcatname != "")
		window.location = "?addsubcat=" + subcatname + "&cat=" + cat;
}

function addLocation(cat, subcat)
{
	window.location = "{{ URL_ROOT }}admin/location/?cat=" + cat + "&subcat=" + subcat;
}

</script>

{% endblock %}

{% block content %}
<h1>Directory</h1>
<button class='btn' onclick="addCategory();">Add Category</button>
{{ stuff|raw }}
<!-- <a href="">Add Category</a>
<ul>
	<li>
		Category 1 <a href="">Add Sub-Category</a>
		<ul>
			<li>Subcategory 1 <a href="">Add Location</a>
				<ul>
					<li>Location 1 <a href="">Edit</a></li>
				</ul>
			</li>
			<li>Subcategory 2 <a href="">Add Location</a>
				<ul>
					<li>Location 2 <a href="">Edit</a></li>
					<li>Location 3 <a href="">Edit</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		Category 2 <a href="">Add Sub-Category</a>
		<ul>
			<li>Subcategory 3 <a href="">Add Location</a>
				<ul>
					<li>Location 4 <a href="">Edit</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul> -->

<!-- <a href="">Add Category</a>

<h2>Category 1 <a href="">Add Sub-Category</a></h2>

<h3>Subcategory 1 <a href="">Add Location</a></h3>

Location 1 <a href="">Edit</a> <a href="">Delete</a><br/>

<h3>Subcategory 2 <a href="">Add Location</a></h3>

Location 2 <a href="">Edit</a> <a href="">Delete</a><br/>
Location 3 <a href="">Edit</a> <a href="">Delete</a><br/>

<h2>Category 2 <a href="">Add Sub-Category</a></h2>

<h3>Subcategory 3 <a href="">Add Location</a></h3>

Location 4 <a href="">Edit</a> <a href="">Delete</a><br/> -->

{% endblock %}