{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript">

function editVideo(id)
{
	var loc = "{{ URL_ROOT }}admin/video/" + id + "/";
	window.location = loc;
}

function deleteVideo(id)
{
	var loc = "{{ URL_ROOT }}admin/video/delete/" + id + "/";
	window.location = loc;
}

function moveUp(id)
{
	var loc = "{{ URL_ROOT }}admin/video/move/" + id + "/up/";
	window.location = loc;
}

function moveDown(id)
{
	var loc = "{{ URL_ROOT }}admin/video/move/" + id + "/down/";
	window.location = loc;
}

</script>
{% endblock %}

{% block content %}

<h2>Exhibitors</h2>

{{ pagecontent|raw }}

{% endblock %}

