{% extends 'base.html' %}

{% block extra_headers %}
<style>

.pageform .h
{
	vertical-align: top;
}

#content .textarea
{
	width: 561px;
}

fieldset
{
	width: 661px;
}

.pageform input[type="text"], .pageform select
{
	width: 300px;
}
</style>

<script type="text/javascript">

function flip(elem)
{
	var obj = document.getElementById(elem);
	//alert(obj.style.display === "block")
	if(obj.style.display === "block")
		obj.style.display = "none";
	else
		obj.style.display = "block";
}

</script>

<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}
<h1>{{ heading }} Video</h1>

          <p style="color:#ff0000; font-weight:bold;">{{ dispmsg }}</p>

<form method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" name="title" value="{{ title|raw }}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="menukey">Display Video in Listing?</label>
		<div class="controls">
            <input type="radio" name="menukey" value="0" {{enabled}}>&nbsp; Yes</input>
            <input type="radio" name="menukey" value="-1" {{disabled}}>&nbsp; No</input>
		</div>
	</div>
    <!--<div class="control-group">
		<label class="control-label" for="menukey">Display Video as Featured Video?</label>
		<div class="controls">
            <input type="radio" name="featured" value="0" {{featured}}>&nbsp; Yes</input>
            <input type="radio" name="featured" value="-1" {{notfeatured}}>&nbsp; No</input>
		</div>
	</div>-->
	<div class="control-group">
		<label class="control-label" for="linkoverride">Link</label>
		<div class="controls">
			<input type="text" id="link" name="link" value="{{ link|raw }}" />
		</div>
	</div>
    <div class="control-group">
		<label class="control-label" for="keywords">Keywords</label>
		<div class="controls">
			<input type="text" id="keywords" name="keywords" value="{{ keywords|raw }}" />
		</div>
	</div>
    <!--<div class="control-group">
		<label class="control-label" for="part_name">Part Name</label>
		<div class="controls">
			<input type="text" id="part_name" name="part_name" value="{{ part_name|raw }}" />
		</div>
	</div>
    <div class="control-group">
		<label class="control-label" for="feeder_style">Feeder Style</label>
		<div class="controls">
			<input type="text" id="feeder_style" name="feeder_style" value="{{ feeder_style|raw }}" />
		</div>
	</div>-->
	<!--<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<textarea style="height: 109px;width:687px;" id="description" name="description">{{ description }}</textarea>
		</div>
	</div>-->
	<div class="control-group">
		<div class="controls">
			<input class="btn" type="submit" value="Save" />
			
		</div>
	</div>
			
</form>

<script type="text/javascript">
	CKEDITOR.config.contentsCss = "{{ CSS_ROOT }}main.css";
	CKEDITOR.config.width = "700px"
	CKEDITOR.config.keystrokes = 
	[
		[ CKEDITOR.CTRL + 83 /*S*/, 'save' ] //save for the win!
	]
        CKEDITOR.config.allowedContent = true; // don't filter my data
	CKEDITOR.replace( 'content' );
</script>
{% endblock %}

{% block breadcrumbs %}<li><span class="divider">/</span> <a href="{{ URL_ROOT }}admin/videos/">Videos</a>{% endblock %}