<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ settings.site_name }} - {% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="style1.css" type="text/css" charset="utf-8">

		<script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <link href="css/lightbox.css" rel="stylesheet" />

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40089090-5', 'motorcityraceexpo.com');
  ga('send', 'pageview');

</script>

    {% block keywords %}
    {% endblock %}

    {% block extra_headers %}
    {% endblock %}

    <map id="logomap" name="logomap">
        <area shape="rect" alt="" title="" coords="8,82,163,159" href="http://suburbancollectionshowplace.com/" target="_blank" />
        <area shape="rect" alt="" title="" coords="174,136,198,158" href="https://www.facebook.com/pages/Motor-City-Hot-Rod-Racing-Expo/170002066509175" target="_blank" />
        <area shape="rect" alt="" title="" coords="205,135,226,157" href="https://twitter.com/MotorCityExpo/" target="_blank" />
    </map>
</head>
<body>
<div id="outer">
<div id="inner">
    <div id="header">
    <img id="banner_left" src="banner.jpg" alt="" />
    <img border="0" usemap="#logomap" id="banner_right" src="banner_right.jpg" alt="" />
    
    </div>
    <div id="nav">
        <div class="menu">
        <ul>
            <li><a href='index.php'>HOME</a>
            </li>
            <li><a href='/exhibitors.php'>EXHIBITORS</a>
                <ul>
                	<li><a href="/exhibitors.php?year=2015">Exhibitors</a></li>
                    <!--<li><a href="/exhibitors.php?year=2014">2014 Exhibitors</a></li>-->
                    <!--<li><a target="_blank" href="/inventory/Show_Registration_Form_2.pdf">Registration Form</a></li>-->
                    <li><a target="_blank" href="/inventory/2015Floorplan3152015.PDF">Floor Plan</a></li>
                    <li><a href="/contact.php">Contact Us</a></li>
                </ul>
            </li>
            <li><a href='page.php?id=8'>HOTELS/MAP</a>
                <ul>
                    <li><a href="/page.php?id=8">Hotels</a></li>
                    <li><a target="_blank" href="https://www.google.com/maps/preview/place/Suburban+Collection+Showplace,+Grand+River+Avenue,+Novi,+MI/@42.4885689,-83.5020852,17z/data=!3m1!4b1!4m2!3m1!1s0x8824af2a330b7b5d:0xe71cc3d0740281c3">Map</a></li>
                </ul>
            </li>
            <li><a href='page.php?id=10'>SHOW SPECIALS</a>
            </li>
            <li><a href='page.php?id=15'>NEWS</a>
            	<ul>
                	<li><a href="/gallery.php?gal=1">Photo Gallery</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
    <div id="divbody" style="padding-left: 10px;padding-right: 10px;">
    
    <div id="countdown" style="">
   <div align="center" style="padding-top:5px;"><img src="http://hotrodracingexpo.com/banner_center_long.jpg" /></div>
        <span id="countdownie" style="width:300px;background-color:#bbaa74"></span><script>
        function setcountdown(theyear, themonth, theday, thehour, themin, thesec) {
            yr = theyear;
            mo = themonth;
            da = theday;
            hr = thehour;
            min = themin;
            sec = thesec;
        }
        //////////CONFIGURE THE COUNTDOWN SCRIPT HERE//////////////////

        //STEP 1: Configure the countdown-to date, in the format year, month, day,                   hour(0=midnight,23=11pm), minutes, seconds:
        setcountdown(2017, 3, 25, 12, 0, 0);

        //STEP 2: Change the two text below to reflect the occasion, and message to                   display on that                   occasion, respectively
        var occasion = "";
        var message_on_occasion = "";

        //STEP 3: Configure the below 5 variables to set the width, height,                   background color, and text                   style of the countdown area
        var countdownwidth = '300px';
        var countdownheight = '20px';
        var countdownbgcolor = '#bbaa74';
        var opentags = '<p align="center"><b style="color:white;">';
        var closetags = ' until the Motor City Race Expo!</b></p>';

        //////////DO NOT EDIT PAST THIS LINE//////////////////

        var montharray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var crosscount = null;

        //document.write('<span id="countdownie" style="width:' + countdownwidth + ';background-color:' + countdownbgcolor + '"></span>');

        function start_countdown() {
            crosscount = document.getElementById("countdownie");
            countdown();
        }

        window.onload = start_countdown

        function countdown(){
            var today = new Date()
            var todayy = today.getYear()
            if (todayy < 1000) {
                todayy += 1900
            }
            var todaym = today.getMonth()
            var todayd = today.getDate()
            var todayh = today.getHours()
            var todaymin = today.getMinutes()
            var todaysec = today.getSeconds()
            var todaystring = montharray[todaym]+" "+todayd+", "+todayy+"                                     "+todayh+":"+todaymin+":"+todaysec
            futurestring = montharray[mo-1]+" "+da+", "+yr+" "+hr+":"+min+":"+sec
            dd = Date.parse(futurestring)-Date.parse(todaystring)
            dday = Math.floor(dd/(60*60*1000*24)*1)
            dhour = Math.floor((dd%(60*60*1000*24))/(60*60*1000)*1)
            dmin = Math.floor(((dd%(60*60*1000*24))%(60*60*1000))/(60*1000)*1)
            dsec = Math.floor((((dd%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1)
            //if on day of occasion
            if(dday<=0&&dhour<=0&&dmin<=0&&dsec<=1&&todayd==da)
            {
                if (document.layers)
                {
                    document.countdownnsmain.document.countdownnssub.document.write(opentags+message_on_occasion+closetags)
                    document.countdownnsmain.document.countdownnssub.document.close()
                }
                else if (document.all||document.getElementById)
                {
                    crosscount.innerHTML=opentags+message_on_occasion+closetags
                }
                return
            }
        //if passed day of occasion
            else if (dday<=-1)
            {
                if (document.layers)
                {
                    document.countdownnsmain.document.countdownnssub.document.write(opentags+"Occasion already passed! "+closetags)
                    document.countdownnsmain.document.countdownnssub.document.close()
                }
                else if (document.all||document.getElementById)
                {
                    crosscount.innerHTML=opentags+"Occasion already passed! "+closetags
                }
                return
            }
            //else, if not yet
            else{
                crosscount.innerHTML = opentags+dday+ " days, "+dhour+" hours, "+dmin+" minutes, and "+dsec+" seconds"+occasion+closetags
            }
            setTimeout("countdown()",1000)
        }
                    </script>
    </div>
    
    
        {% block content %}
        {% endblock %}

    </div>
</div>
</div>
</body>
</html>