{% extends 'base.html' %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}

<table style="" border="0" align="center" cellspacing="5">

  <tr>

    <td align="left" valign="top">{{ page.box['1']|raw }}</td>

    <td align="left" valign="top">{{ page.box['2']|raw }}</td>

  </tr>

  <tr>

    <td align="left" valign="top">{{ page.box['3']|raw }}</td>

    <td align="left" valign="top">{{ page.box['4']|raw }}</td>

  </tr>

  <tr>

    <td align="left" valign="top">{{ page.box['5']|raw }}</td>

    <td align="left" valign="top">{{ page.box['6']|raw }}</td>

  </tr>

</table>

{% endblock %}