{% extends 'base.html' %}

{% block content %}

<table style="width: 1024px;position: relative;left: -100px;">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>

{% for s in sponsors %}

{% spaceless %}

<td style="width: 49%;" align="center" valign="top">
	{% if s.imgurl != '#' %}
	<img style="width: auto; height: 78px; background-color: white;" src="{{ s.imgurl }}" alt="" /><br /> 
	{% endif %}
	<strong style="font-size: 22px;">
	
	{% if s.linkurl == '#' %}

	{{ s.linktext }}

	{% else %}

	<a style="color: white;" href="{{ s.linkurl }}" target="_BLANK">

	{{ s.linktext }}

	</a>

	{% endif %}

	</strong>
</td>

{% endspaceless %}

{% if loop.index % 2 == 0 %}

</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>

{% endif %}

{% endfor %}

</tr>
<tr>
<td>&nbsp;</td>
</tr>

<tbody>
</table>
{% endblock %}