{% extends 'base.html' %}

{% block content %}
<!-- <center>
	<table>
		<tr>
			<td valign="top">
				<img src="images/hotel1.jpg" alt="" /><br/>
				<center><b style="font-size: 22px;">Crowne Plaza Detroit</b></center>
				<center>
					<b style="font-size: 18px;">Novi</b><br/>
					Map
				</center>
			</td>
			<td valign="top" style="padding-left: 10px;padding-right: 10px;">
				<img src="images/hotel2.jpg" alt="" /><br/>
				<center><b style="font-size: 22px;">Hilton Garden Inn</b></center>
				<center>
					<b style="font-size: 18px;">Novi</b><br/>
					Map
				</center>
			</td>
			<td valign="top">
				<img src="images/hotel3.jpg" alt="" /><br/>
				<center><b style="font-size: 22px;">Residence Inn Detroit</b></center>
				<center>
					<b style="font-size: 18px;">Novi</b><br/>
					Map
				</center>
			</td>
		</tr>
	</table>
</center>
<br/>
<br/>
<br/>
<center>
	<h1>Local Dinings</h1>
	<table style="width: 80%; font-wieght: bold">
		<tr>
			<td align="left" valign="top">
				Big Boy<br/>
				Red Robin<br/>
				Bar Louie<br/>
			</td>
			<td align="center" valign="top">
				Red Robin<br/>
				Bar Louie<br/>
				Leo's Coney Island<br/>
			</td>
			<td align="right" valign="top">
				Big Boy<br/>
				Bar Louie<br/>
				Red Robin<br/>
			</td>
		</tr>
	</table>
</center> -->

<center>
	<table style="width: 100%">
		<tr>
			<td valign="top" style="width: 33%;" align="center">
				<img style="width: 264px; height: auto;" src="images/dragraceresults.PNG" alt="" /><br/>
				<b style="font-size: 22px;"><a style="color: white" href="http://dragraceresults.com/" target="_BLANK">Drag Race Results.com</a></b>
			</td>
			<td valign="top" style="width: 33%;" align="center">
				<img style="width: 264px; height: auto;" src="images/tods.PNG" alt="" /><br/>
				<b style="font-size: 22px;"><a style="color: white" href="http://www.toddsextremepaint.com/" target="_BLANK">Todd's Extreme Custom Paint</a></b>
			</td>
			<td valign="top" align="center"><b style="font-size: 22px;">
				<img src="images/masta.PNG" alt="" /><br/>
				<a style="color: white" href="http://www.mastaperformance.com/" target="_BLANK">Masta Performance</a>
			</b></td>
		</tr>
		<tr>
			<td><div style="width: 1px;height: 10px;"></div></td>
		</tr>
		<tr>
			<td valign="top" align="center">
				<img style="width: 174px; height: auto;" src="images/bracket_racing.bmp" alt="" /><br/>
				<b style="font-size: 22px;"><a style="color: white" href="http://thisisbracketracing.com/" target="_BLANK">This is Bracket Racing.com</a>
			</b></td>
			<td valign="top" style="width: 33%;" align="center">
				<img style="width: 264px; height: auto;" src="images/american.PNG" alt="" /><br/>
				<b style="font-size: 22px;"><a style="color: white" href="http://www.americanracecars.net/" target="_BLANK">American Race Cars</a></b>
			</td>
			<td valign="top" align="center">
				<img style="width: 244px; height: auto;" src="images/16261497-817.jpg" alt="" /><br/>
				<b style="font-size: 22px;">
				<a style="color: white" href="http://dragstersforsale.com/" target="_BLANK">Dragstersforsale.com</a>
			</b></td>
		</tr>
	</table>
</center>
{% endblock %}





