{% extends 'base.html' %}

{% block title %}
Gallery
{% endblock %}

{% block content %}

<div align='center'>
  <i>click an image to view the full size image and caption</i><br />
  
  {% for image in images %}
    {% spaceless %}
    <a style="margin-left:10px;"
       href="{{ settings.url_base }}gallery/{{ image.file_path }}"
       rel="lightbox[gallery]" 
       title="{{ image.caption }}">
       <img class="image-gallery" border="0" src="{{ settings.url_base }}js/resize.php?src=gallery/{{ image.file_path }}&h=125&w=125&zc=1" vspace="10px" 
            hspace="10px" 
            alt="{{ image.caption }}" 
            class="bordered" />
    </a>
    {% endspaceless %}
    {% if loop.index % 4 == 0 %}
      <br/>
    {% endif %}
  {% else %}
    <div style="font-size:1.5em">No images found!</div>
  {% endfor %}

  <p>Showing Photos {{ paging.start }} to {{ paging.end }} of {{ paging.total_images }}</p>
  
  {% if (paging.prev > 0) %}  
  &#8249;&#8211; <a href="gallery2.php?gal={{ paging.gallery }}&page={{ paging.prev }}">Previous Page</a>
  {% endif %}
  {% if (paging.rockbottom < paging.total_images) %}
  <a href="gallery2.php?gal={{ paging.gallery }}&page={{ paging.next }}">Next Page</a> &#8211;&#8250;
  {% endif %}
</div>

{% endblock %}