{% extends 'base.html' %}



{% block title %}

{{ page.title }}

{% endblock %}



{% block extra_headers %}

<style>



#divbody

{

  height: 482px;

}



</style>

{% endblock %}



{% block content %}



<table border="0" align="left" style="border-collapse: collapse;">



  <tr>



    <td align="left" valign="top">{{ page.box['1']|raw }}</td>



    <td align="left" valign="top">{{ page.box['2']|raw }}</td>



  </tr>



  <tr>



    <td align="left" valign="top">{{ page.box['3']|raw }}</td>



    <td align="left" valign="top">{{ page.box['4']|raw }}</td>



  </tr>



  <tr>



    <td align="left" valign="top">{{ page.box['5']|raw }}</td>



    <td align="left" valign="top">{{ page.box['6']|raw }}</td>



  </tr>



</table>



<!-- <div id="cars">

  <img src="cars.jpg" alt="" />

</div> -->



{% endblock %}