{% extends 'base.html' %}

{% block content %}











<div class="row">


{% for s in sponsors %}

{% spaceless %}

<div class="col-xs-12 col-md-6">
	{% if s.imgurl != '#' %}
	<img class="image-sponsors" src="{{ s.imgurl }}" alt="" /><br /> 
	{% endif %}
	<p class="text-center"><strong style="font-size: 22px;">
	
	{% if s.linkurl == '#' %}

	{{ s.linktext }}

	{% else %}

	<a style="color: white;" href="{{ s.linkurl }}" target="_BLANK">

	{{ s.linktext }}

	</a>

	{% endif %}

	</strong></p>
</div>

{% endspaceless %}

{% if loop.index % 2 == 0 %}

<br>

{% endif %}

{% endfor %}


</div>

{% endblock %}