{% extends 'base.html' %}

{% block title %}
Order Title
{% endblock %}

{% block extra_headers %}
<script type="text/javascript">
function validate()
{
	err = "";
	if(document.myform.order_type.value == "NA")
		err += "Please select an order type.\n";

	if(document.myform.transaction_type.value == "NA")
		err += "Please select a transaction type.\n";

	if(document.myform.county.value == "NA")
		err += "Please select a county.\n";

	if(document.myform.additional_your_name.value == "")
		err += "Please enter your name\n";

	if(document.myform.additional_your_phone.value == "")
		err += "Please enter your phone number\n";

	filename = document.myform.property_information_long_legal.value;
	if(filename != "")
	{
		if(!/(\.txt|\.pdf|\.doc|\.docx|\.rtf)$/i.test(filename))
		{
			err += "Please upload a word document, pdf, rtf, or plain text file.";
		}
	}

	if(err !== "")
	{
		alert(err)
		return false
	}
	return true
}

function dayOnFocus(obj)
{
	if(obj.value === "dd")
		obj.value = "";
}

function dayOnBlur(obj)
{
	if(obj.value === "")
		obj.value = "dd";
}

function monthOnFocus(obj)
{
	if(obj.value === "mm")
		obj.value = ""
}

function monthOnBlur(obj)
{
	if(obj.value === "")
		obj.value = "mm"
}

function yearOnFocus(obj)
{
	if(obj.value === "yyyy")
		obj.value = ""
}

function yearOnBlur(obj)
{
	if(obj.value === "")
		obj.value = "yyyy"
}
</script>

{% endblock %}

{% block content %}
<h1><img style="margin-right: 5px; margin-left: 5px; vertical-align: middle;" title="logo" src="inventory/logo.jpg" alt="logo" width="77" height="95" />Order Title Work</h1>
<div style="color: green">{{ msg }}</div>
<!-- begin form -->
   <form name="myform" method="post" action="work_submit.php" enctype="multipart/form-data" onsubmit="return validate()">
	<table>
		<tr>
			<td>Order Type: </td>
			<td>
				<select name="order_type">
					<option value="NA">-- select --</option>
					<option value="0">Commercial</option>
					<option value="1">Long Term Construction Loan</option>
					<option value="2">Short Term Construction Loan</option>
					<option value="3">Foreclosure</option>
					<option value="4">Informational Search</option>
					<option value="5">Leasehold</option>
					<option value="6">New Construction</option>
					<option value="7">Permanent Loan</option>
					<option value="8">Refinance</option>
					<option value="9">Residential Resale</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Transaction Type: </td>
			<td>
				<select name="transaction_type">
					<option value="NA">-- select --</option>
					<option value="0">Cash</option>
					<option value="1">Land Contract</option>
					<option value="2">Mortgage-Without Exception</option>
					<option value="3">Mortgage-With Exception</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>County: </td>
			<td>
				<select name="county">
					<option value="NA">-- select --</option>
					<option value="0">Macomb</option>
					<option value="1">Wayne</option>
					<option value="2">Oakland</option>
					<option value="3">Washtenaw</option>
					<option value="4">Livingston</option>
					<option value="5">Other</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Need By: </td>
			<td><input style="width: 25px;" type="text" name="need_by_month" value="mm" maxlength="2" onfocus="monthOnFocus(this)" onblur="monthOnBlur(this)" />/<input style="width: 25px;" type="text" value="dd" name="need_by_day" maxlength="2" onfocus="dayOnFocus(this)" onblur="dayOnBlur(this)" />/<input  value="yyyy" style="width: 40px;" type="text" name="need_by_year" maxlength="4" onfocus="yearOnFocus(this)" onblur="yearOnBlur(this)" /></td>
		</tr>
	</table>
	<fieldset>
		<legend>Seller/Owner</legend>
		<table>
			<tr>
				<td>
					Name(s):<br/>
					<textarea name="seller_names"></textarea><br/>
					Are they husband and wife? yes <input name="seller_h_and_w" value="true" type="radio" />
					no <input name="seller_h_and_w" value="false" checked="checked" type="radio" />
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Buyer/Purchaser</legend>
		<table>
			<tr>
				<td>
					Name(s):<br/>
					<textarea name="buyer_names"></textarea><br/>
					Are they husband and wife? yes <input name="buyer_h_and_w" value="true" type="radio" />
					no <input name="buyer_h_and_w" value="false" checked="checked" type="radio" />
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Property Information</legend>
		<table>
			<tr>
				<td>Address:</td>
				<td class="col2"><input name="property_information_address" type="text" /></td>
			</tr>
			<tr>
				<td>City:</td>
				<td class="col2"><input name="property_information_city" type="text" /></td>
			</tr>
			<tr>
				<td>State:</td>
				<td class="col2"><input style="width:25px" maxlength="2" name="property_information_state" type="text" /></td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td class="col2"><input style="width:100px" maxlength="10" name="property_information_zip" type="text" /></td>
			</tr>
			<tr>
				<td>Parcel ID#:</td>
				<td class="col2"><input name="property_information_parcel_id" type="text" /></td>
			</tr>
			<tr>
				<td>Would you like to upload a long/legal acreage?:</td>
				<td class="col2"><input name="property_information_long_legal" type="file" /></td>
			</tr>
			<tr>
				<td colspan="2">
					Description:<br/>
					<textarea name="property_information_description"></textarea>
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Lender Information</legend>
		<table>
			<tr>
				<td>Loan Amount:</td>
				<td class="col2">$<input style="width:60px" name="lender_information_loan_amount" type="text"/></td>
			</tr>
			<tr>
				<td>With exceptions:</td>
				<td class="col2">Yes <input name="lender_information_exceptions" style="width: auto" type="radio" value="yes" /> No <input name="lender_information_exceptions" style="width: auto" type="radio" value="no" /></td>
			</tr>
			<tr>
				<td>Lender Name:</td>
				<td class="col2"><input name="lender_information_name" type="text"/></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td class="col2"><input name="lender_information_address" type="text"/></td>
			</tr>
			<tr>
				<td>City:</td>
				<td class="col2"><input name="lender_information_city" type="text"/></td>
			</tr>
			<tr>
				<td>State:</td>
				<td class="col2"><input  style="width:25px" maxlength="2" name="lender_information_state" type="text"/></td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td class="col2"><input  style="width:100px" maxlength="100" name="lender_information_zip" type="text"/></td>
			</tr>
			<tr>
				<td>Attn. To:</td>
				<td class="col2"><input name="lender_information_attn_to" type="text"/></td>
			</tr>
			<tr>
				<td>Phone #:</td>
				<td class="col2"><input style="width:100px" name="lender_information_phone" type="text"/></td>
			</tr>
			<tr>
				<td>Fax #:</td>
				<td class="col2"><input style="width:100px" name="lender_information_fax" type="text"/></td>
			</tr>
			<tr>
				<td>Loan Number:</td>
				<td class="col2"><input name="lender_information_loan_number" type="text"/></td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Real Estate, Attorney, Builder, Developer, Broker, For Sale By Owner Information</legend>
		<table>
			<tr>
				<td>Sale Price:</td>
				<td class="col2">$<input style="width:60px" name="realestate_information_sale_price" type="text"/></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td class="col2"><input name="realestate_information_name" type="text"/></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td class="col2"><input name="realestate_information_address" type="text"/></td>
			</tr>
			<tr>
				<td>City:</td>
				<td class="col2"><input name="realestate_information_city" type="text"/></td>
			</tr>
			<tr>
				<td>State:</td>
				<td class="col2"><input maxlength="2" style="width:25px" name="realestate_information_state" type="text"/></td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td class="col2"><input maxlength="10" style="width:100px" name="realestate_information_zip" type="text"/></td>
			</tr>
			<tr>
				<td>Attn. To:</td>
				<td class="col2"><input name="realestate_information_attn_to" type="text"/></td>
			</tr>
			<tr>
				<td>Phone #:</td>
				<td class="col2"><input style="width:100px" name="realestate_information_phone" type="text"/></td>
			</tr>
			<tr>
				<td>Fax #:</td>
				<td class="col2"><input style="width:100px" name="realestate_information_fax" type="text"/></td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Additional Information</legend>
		<table>
			<tr>
				<td>Comments:</td>
				<td class="col2"><input name="additional_comments" type="text"/></td>
			</tr>
			<tr>
				<td>Your Name:</td>
				<td class="col2"><input style="width:100px" name="additional_your_name" type="text"/></td>
			</tr>
			<tr>
				<td>Your Phone:</td>
				<td class="col2"><input style="width:100px" name="additional_your_phone" type="text"/></td>
			</tr>
		</table>
	</fieldset>
	<input type="submit" value="Submit" />
  </form>
  <!-- end form -->
{% endblock %}